.settings-page{


padding:40px;


background:#020617;


min-height:100vh;


color:white;


}





.page-title h1{


font-size:32px;


}




.page-title p{


color:#94a3b8;


}







.settings-card{


background:#111827;


border:1px solid #334155;


border-radius:18px;


padding:30px;


margin-top:25px;


}





.settings-card h2{


margin-bottom:25px;


color:white;


}








.setting-row{


display:flex;


justify-content:space-between;


align-items:center;


margin-bottom:20px;


}





.setting-row label{


color:#94a3b8;


font-size:16px;


}





.setting-row input,


.setting-row select{


background:#020617;


border:1px solid #334155;


color:white;


padding:12px;


border-radius:10px;


width:300px;


}





.secondary-btn{


background:#334155;


color:white;


border:none;


padding:12px 20px;


border-radius:10px;


cursor:pointer;


}





.switch-row{


display:flex;


justify-content:space-between;


padding:15px 0;


border-bottom:1px solid #334155;


}




.switch-row label{


color:#cbd5e1;


}





.switch-row input{


width:20px;


height:20px;


}








.billing-grid{


display:grid;


grid-template-columns:

repeat(
3,
1fr
);


gap:20px;


}





.billing-grid div{


background:#020617;


padding:25px;


border-radius:15px;


border:1px solid #334155;


}





.billing-grid h3{


color:#94a3b8;


}



.billing-grid strong{


font-size:30px;


color:#38bdf8;


}







.save-btn{


margin-top:30px;


padding:15px 35px;


background:#2563eb;


color:white;


border:none;


border-radius:12px;


font-size:16px;


font-weight:bold;


cursor:pointer;


}



.save-btn:hover{


background:#1d4ed8;


}






@media(max-width:900px){


.billing-grid{


grid-template-columns:1fr;


}


.setting-row{


flex-direction:column;


align-items:flex-start;


gap:10px;


}


}